nav{
  z-index:1
}

.astyle,a{
  font-family:'Playfair Display',serif;
  color:Green
}
a:hover,.astyle:hover{
  text-decoration:line-through;
  cursor:crosshair
}
a:visited,.astyle:visited{
  color:#137752
}
img{
  -ms-flex-item-align:center;
      -ms-grid-row-align:center;
      align-self:center;
  max-width:100%;
  max-height:100%;
  width:100vw
}
body{
  font-family:Dosis,sans-serif
}
footer{
  font-family:'Playfair Display',serif
}
p {
  font-size: 1.25rem;
}
.wrap{
  overflow:hidden
}

.imgdiv1 {
  background-image:url(../img/bgs/sky1.gif);
}
.imgdiv2 {
  background-image:url(../img/bgs/sky2.gif);
}

.imgdiv3 {
  background-image:url(../img/bgs/sky3.gif);
}

.abtlink,.abtlink:visited{
  color:#000;
  font-family:'Dosis',sans-serif;
  text-decoration:none
}
.sites{
  position:absolute;
  display: none;
  width:5vw
}
.header{
  font-family:'Playfair',serif;
  font-size:10vw;
  margin:0;
  -webkit-text-stroke: 2px black;
  color:white
}
.title {
  font-family: 'Playfair',serif;
  font-size: 10vw;
}
.down{
  width:5vw
}

.vidwrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.vidwrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media (max-width:500px){
  .hide{display:none}
  .sites{width:20vw}
  .header{font-size:20vw}
  .down {display: none}
  }
