/* coded by me except where noted otherwise */
/* header nav body footer */
header {
	position:absolute;
	right:50px;
	top:30px;
	display:block;
	width:70%;
	text-align:right;
	float:right;
	} 
header img{max-width:100%}
	
nav {
	display:block;
        width:20%;
        position:fixed;
        float:left;
        text-align: right;
        font-size: 25px;

        }

body {
	padding:0;
	margin:0;
	font-family: Gotham, Helvetica, Verdana, Arial, sans-serif;
	}
	
footer {
        font-family:Courier, serif;
	background:Gainsboro;
	width:100%;
	text-align:center;
	clear: both;
	height:50px;
	padding-top:50px;
	background-clip:content-box;
	}
footer p {
	margin-bottom:5px;
	}



/*paragraph styles*/

h1 {
        margin:0;
        padding:0;
        font-size:130px;
        line-height:90%;
        float:right;
    }
    
h2 {
	font-size:40px;
	margin:0;
	}
	
p {font-size:12pt;}
    
img {max-width:100%}
.imgsm {width:49%;}

/*link design*/
    
a:hover { text-decoration: line-through;}
a:active { text-decoration: line-through;}
a:visited {color:#1a6600;}
    
a {
	text-decoration: none;
        font-family: Courier, serif;
        color: #33cc00;
        font-weight:bold;

        }
    
li{		
	list-style-type:none;
	}
	
/* columns */
.c0 {padding-top:170px;
display:block;
}
.c1 {
	width:22%;
	float:right;
	padding-right:5%;
	}
.c2 {
	width:22%;
	float:right;
	padding-right:3%;
	}
.c3 {
	width:22%;
	float:right;
	padding-right:3%;
	}

.wrapper {
    min-height: 100%;
    position: relative;
    }
    
/*contact page*/
.ch { /*contact header*/
	position:fixed;
	width:50%;
	} 
	

#contact {
	width:45%;
	top:150px;	
	right:50px;
	position:fixed;
	display:block;
}
#imgscroll img{max-width:100%;}
#imgscroll {
	width:20%;
	margin-left:20%;
	}
	
	
@media screen and (max-width: 900px) {

nav {
	font-size:23px;
	}
}

@media screen and (max-width: 800px) {
.imgsm {width:100%;}
}
@media screen and (max-width: 740px) {
header {
	right:20px;
	top:10px;
	}
nav {
	font-size:19px;
	}
	.imgsm {width:100%;}
.ch {
	position:absolute;
	}
#contact {
	top:60px;
	position:absolute;
	}
}
@media screen and (max-width: 600px) {
header {
	width:90%;
	}

nav {
	font-size:19px;
	width:90%;
	top:100px;
	position:absolute;
	float:none;
	text-align:center;
	}
li {display: inline;
padding-left:7px;}
.des2 {
	padding-top:20px;}
.des {
	padding-top:50px;}
.c0 {padding-top:150px;
}
.c1 {
	width:90%;
	padding-right:5%;
	}
.c2 {
	width:90%;
	padding-right:3%;
	}
.c3 {
	width:90%;
	padding-right:3%;
	}

.cf { /*contact footer*/
	position:fixed;

}	
.ch {width:90%;}
#imgscroll ul{
	visibility: hidden;
	}

#contact {
	width:93%;
	right:10px;
	position:absolute;
	top:100px;
	}
	
	h2 {
	font-size:30px;
	text-align:center;
	}
}	
@media screen and (max-width: 400px) {
nav {
	top:70px;
	font-size: 17px;
	}
h2 {
	font-size:20px;
	}